/*
main.css
CSS written by TechnicProblem
technicproblem.github.io
*/


header {
  background-image: url(images/bg.png);
  min-height: 100%;
  height:100vh;
  background-size:cover;
  background-attachment: fixed;
  z-index: -3;
  overflow: hidden;
}
* {
  font-family: "Roboto", Arial, sans-serif;

}



.logo {
  width: 1000px;
  height: 371.5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 6em;
}

.curseforge {
  float: right;
  border-color: #55565a;
  background-color: #f05523;
  border-width: 3px;
}

.curseforge:hover {
  background-color: #55565a;
    border-color: #f05523;
}

h1 {
  font-size: 3em;
  display: inline;
}

.modblock-nav {
  display: inline-block;
  margin-left: 5px;
  font-size: 1.33rem;
}

.modblock-navlink {
  margin-right: 5px;
}

span {
  text-decoration: underline;
}

.helpimage {
  height: auto;
  width: 40rem;
}

.changelog-nav-container {
  border-left: 1px solid #ede;
}

.changelog-nav {

}

.currentversion {
  background-color: #eee;
  padding: 1em;
  padding-right: 3em;
  display: inline-block;
  border: 4px solid #ddd;
  border-radius: 2px;
}


.currentversion > strong {
  font-size: 1.75em;
}

a[href*="https://"]::after {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
}

a.noexternal::after {
  content: none;
}
