header {
  background-image: url(bg.png);
  min-height: 100%;
  height:100vh;
  background-size:cover;
  background-attachment: fixed;
  z-index: -3;
  overflow: hidden;
}
* {
  font-family: "Roboto", Arial, sans-serif;

}



.logo {
  width: 1000px;
  height: 371.5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 6em;
}

.curseforge {
  float: right;
  border-color: #55565a;
  background-color: #f05523;
  border-width: 2px;
}

.curseforge:hover {
  background-color: #55565a;
    border-color: #f05523;
}

h1 {
  font-size: 3em;
  display: inline;
}

.modblock-nav {
  display: inline-block;
}
